<%- include('../partials/header'); %>

    <main class="main container">
        <h1>Welcome, to the best time of your life</h1>
        <img src="/media/NakeyJakey.jpg">
    </main>

<%- include('../partials/footer'); %>